body{
    background-image: url(background.png);
    background-size:cover;
}

.form-container label {
    font-weight:600
}


.form-container { /*BORDE DE REGISTRO*/
    border: 1px solid #141414; /* Grosor y color del borde */
    border-radius: 3px; /* Borde redondeado */
    padding: 30px; /* Espaciado interno */
    background-color: transparent;/* Color de fondo */
    box-shadow: 0 2px 2px rgb(33, 15, 136); /* Sombra ligera */
    margin: 20%;
}

.top-margin {
    margin-top: 100px; /* Puedes ajustar este valor según tu necesidad */
}
.move-left {
    margin-left: -20px; /* Puedes ajustar este valor según tu necesidad */
}
@media (max-width: 576px) {
    .form-container {
        padding: 15px;
    }
}

.carousel-item img {
    border-radius: 10px; /* Bordes redondeados para las imágenes del carrusel */
}
.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
    
}
button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Quitar borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    margin-top: 15px; /* Espacio superior */
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

p{
    margin-left:5% ;
    color: #ffffff;
}